{% extends 'base.html' %}
{% block content %}

<h1 class="mb-4">Расписание занятий</h1>

<form method="GET" id="filter-form" class="mb-4">
  <div class="row g-2 align-items-center">  
    <div class="col-auto">  
      {{ form.group.label_tag }}
      {{ form.group }}
    </div>
    <div class="col-auto">
      {{ form.day.label_tag }}
      {{ form.day }}
    </div>
  </div>
</form>

{% if grouped_schedules %}
  <div class="row">
    {% for group_name, days in grouped_schedules.items %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ group_name }}</h5>
          </div>
          <div class="card-body">
            {% for day_name, schedules in days.items %}
              <h6 class="card-subtitle mb-2 text-muted">{{ day_name }}</h6>
              <ul class="list-group list-group-flush">
                {% for schedule in schedules %}
                  <li class="list-group-item {% if user.is_authenticated %}clickable-row{% endif %}" data-href="{% url 'update_schedule' schedule.id %}">
                    <strong>{{ schedule.start_time|time:"H:i" }}</strong>
                    <br>
                    {{ schedule.subject.name }}
                    <br>
                    <small class="text-muted">{{ schedule.teacher }}</small>
                  </li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>Расписание пока отсутствует.</p>
{% endif %}

{% if user.is_authenticated %}
  <a href="{% url 'add_schedule' %}" class="btn btn-primary">Добавить расписание</a>
{% else %}
  <a href="{% url 'login' %}" class="btn btn-primary">Войти как преподаватель</a>
{% endif %}


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('filter-form');
    const groupSelect = form.querySelector('select[name="group"]');
    const daySelect = form.querySelector('select[name="day"]');

    groupSelect.addEventListener('change', function() {
      form.submit();
    });

    daySelect.addEventListener('change', function() {
      form.submit();
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const rows = document.querySelectorAll('.clickable-row');
    rows.forEach(row => {
      row.addEventListener('click', function() {
        window.location.href = this.dataset.href;
      });
    });
  });
</script>

{% endblock %}