{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">

<h1 class="mb-4">Расписание занятий</h1>

<form method="GET" id="filter-form" class="mb-4">
  <div class="row g-2 align-items-center">  
    <div class="col-auto">  
      {{ form.group.label_tag }}
      {{ form.group }}
    </div>
    <div class="col-auto">
      {{ form.day.label_tag }}
      {{ form.day }}
    </div>
    <div>
      {% if user.is_authenticated %}
        <a href="{% url 'add_schedule' %}" class="btn btn-primary">Добавить расписание</a>
        <a href="{% url 'add_group' %}" class="btn btn-primary">Добавить группу</a>
        <a href="{% url 'add_subject' %}" class="btn btn-primary">Добавить предмет</a>
        <a href="{% url 'add_teacher' %}" class="btn btn-primary">Добавить преподавателя</a>
      {% endif %}
    </div>
  </div>
</form>

{% if grouped_schedules %}
  <div class="row">
    {% for group_name, days in grouped_schedules.items %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ group_name }}</h5>
          </div>
          <div class="card-body p-2">
            {% for day_name, schedules in days.items %}
              <h6 class="card-subtitle mb-2 day-header">{{ day_name }}</h6>
              <ul class="list-group list-group-flush">
                {% for schedule in schedules %}
                <li class="list-group-item p-2 {% if user.is_authenticated %}clickable-row{% endif %}" data-href="{% url 'update_schedule' schedule.id %}">
                  <div class="d-flex justify-content-between align-items-center mb-1"> 
                    <span class="text-dark">{{ schedule.subject.name }}</span> 
                    <span class="text-muted small">{{ schedule.start_time|time:"H:i" }}</span> 
                  </div>
                  <small class="text-muted">{{ schedule.teacher }}</small> 
                </li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>Расписание пока отсутствует.</p>
{% endif %}

<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}